html{
    background-color:rgb(25, 25, 25);
    color:white;
    font-family: 'Quicksand', sans-serif;
}
body{
    margin:0;
}

h1{
    text-align: center;
    font-size: 50px;
}

div.guess-row{
    display:flex;
    flex-direction: row;
    justify-content: center;
}


div.spot{
    width:55px;
    height:55px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 3px;
    border: 1px solid gray;
    margin: 3px 3px;
}

#keyboard{
    margin-top: 10vh;
}

#keyboard>#keys-row1, #keys-row2, #keys-row3{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.key{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    background-color:rgb(100, 100, 100);
    color:white;
    border:1px solid white;
    border-radius: 5px;
    width:43px;
    height:58px;
    margin:4px;
    transition: all 0.3s;
}

.key:active{
    background-color:rgb(32, 32, 32);
    transition: all 0s;
}

.wide{
    width:68px;
}

@media only screen and (min-width:451px){
    .key:hover{
        transform: scale(1.25);
        transition: all 0.3s;
    }
}

@media only screen and (max-width:450px){
    #keyboard{
        margin-top: 3vh;
        overflow-x:hidden;
    }
    .key{
        font-size:11px;
        transition: all 0s;
    }
}

div.turn-green{
    transition: all 0.5s;
}

div.turn-green:nth-child(n+1){
    animation-name: turn-green-anim;
    animation-duration: 1s;
    animation-delay: 0s;
    background-color:rgb(16, 105, 16);
    transition-delay: 0.4s;
}

div.turn-green:nth-child(n+2){
    animation-name: turn-green-anim;
    animation-duration: 1s;
    animation-delay: 0.4s;
    background-color:rgb(16, 105, 16);
    transition-delay: 0.8s;
}

div.turn-green:nth-child(n+3){
    animation-name: turn-green-anim;
    animation-duration: 1s;
    animation-delay: 0.8s;
    background-color:rgb(16, 105, 16);
    transition-delay: 1.2s;
}

div.turn-green:nth-child(n+4){
    animation-name: turn-green-anim;
    animation-duration: 1s;
    animation-delay: 1.2s;
    background-color:rgb(16, 105, 16);
    transition-delay: 1.6s;
}

div.turn-green:nth-child(n+5){
    animation-name: turn-green-anim;
    animation-duration: 1s;
    animation-delay: 1.6s;
    background-color:rgb(16, 105, 16);
    transition-delay: 2s;
}

@keyframes turn-green-anim{
    0%{
        transform: rotateX(0deg);
        background-color: black;
    }
    50%{
        transform: rotateX(90deg);
        background-color: black;
    }
    100%{
        transform: rotateX(0deg);
        background-color:rgb(16, 105, 16);
    }
  }

div.turn-yellow{
    transition: all 0.5s;
}

div.turn-yellow:nth-child(n+1){
    animation-name: turn-yellow-anim;
    animation-duration: 1s;
    animation-delay: 0s;
    background-color:rgb(121, 134, 48);
    transition-delay: 0.4s;
}

div.turn-yellow:nth-child(n+2){
    animation-name: turn-yellow-anim;
    animation-duration: 1s;
    animation-delay: 0.4s;
    background-color:rgb(121, 134, 48);
    transition-delay: 0.8s;
}

div.turn-yellow:nth-child(n+3){
    animation-name: turn-yellow-anim;
    animation-duration: 1s;
    animation-delay: 0.8s;
    background-color:rgb(121, 134, 48);
    transition-delay: 1.2s;
}

div.turn-yellow:nth-child(n+4){
    animation-name: turn-yellow-anim;
    animation-duration: 1s;
    animation-delay: 1.2s;
    background-color:rgb(121, 134, 48);
    transition-delay: 1.6s;
}

div.turn-yellow:nth-child(n+5){
    animation-name: turn-yellow-anim;
    animation-duration: 1s;
    animation-delay: 1.6s;
    background-color:rgb(121, 134, 48);
    transition-delay: 2s;
}

@keyframes turn-yellow-anim{
    0%{
        transform: rotateX(0deg);
        background-color: black;
    }
    50%{
        transform: rotateX(90deg);
        background-color: black;
    }
    100%{
        transform: rotateX(0deg);
        background-color:rgb(121, 134, 48);
    }
  }

div.turn-black{
    transition: all 0.5s;
}

div.turn-black:nth-child(n+1){
    animation-name: turn-black-anim;
    animation-duration: 1s;
    animation-delay: 0s;
    background-color:black;
    transition-delay: 0.4s;
}

div.turn-black:nth-child(n+2){
    animation-name: turn-black-anim;
    animation-duration: 1s;
    animation-delay: 0.4s;
    background-color:black;
    transition-delay: 0.8s;
}

div.turn-black:nth-child(n+3){
    animation-name: turn-black-anim;
    animation-duration: 1s;
    animation-delay: 0.8s;
    background-color:black;
    transition-delay: 1.2s;
}

div.turn-black:nth-child(n+4){
    animation-name: turn-black-anim;
    animation-duration: 1s;
    animation-delay: 1.2s;
    background-color:black;
    transition-delay: 1.6s;
}

div.turn-black:nth-child(n+5){
    animation-name: turn-black-anim;
    animation-duration: 1s;
    animation-delay: 1.6s;
    background-color:black;
    transition-delay: 2s;
}

@keyframes turn-black-anim{
    0%{
        transform: rotateX(0deg);
        background-color: black;
    }
    50%{
        transform: rotateX(90deg);
        background-color: black;
    }
    100%{
        transform: rotateX(0deg);
        background-color:black;
    }
  }

